
.intro-container {
    width: 900px !important;
    margin: 0 auto;
    padding-top: 200px;
}

.title {
    color: var(--title-Color);
    font-size: 4rem;
    line-height: normal;
    font-weight: 700;
    padding: 40px 0;
}

.sub-title {
    color: var(--secondaryColor);
    display: block;
}

.font-mono {
    font-family: var(--font-mono);
}

.short-resume {
    width: 70%;
    line-height: 1.5rem;
}

p {
    color: var(--secondaryColor);
}

span, .span {
    color: var(--primaryColor);
}

.calltoaction-btn {
    
    margin-top: 60px;
    
}